<h1>User#show</h1>
<p>A list of all users</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= link_to (current_user.follows?(user) ? 'Unfollow' : 'Follow'), toggle_follow_path(user_id: user.id) %><td>
      </tr>
    <% end %>
  </tbody>
</table>
